1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   0x3fL
FILEFLAGS       0x0L
FILEOS          0x40004L
FILETYPE        0x1L
FILESUBTYPE     0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080404b0"
    BEGIN
      VALUE "CompanyName",      "Jade"
      VALUE "FileDescription",  "Jade EC Launcher"
      VALUE "FileVersion",      "1.0.0.0"
      VALUE "InternalName",     "jade-ec-launcher"
      VALUE "LegalCopyright",   "Copyright (C) Jade"
      VALUE "OriginalFilename", "jade-ec-launcher.exe"
      VALUE "ProductName",      "Jade EC查看器"
      VALUE "ProductVersion",   "1.0.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0804, 1200
  END
END
